#navBAr{
    height: 20%;
}
p{
    font-size: larger;
    color: blue;
    padding-top: 8%;
}
#signIn{
    color: red;

}
#signUp{
    color: white;
    background-color: red;
    border-radius: 10px;
    text-align: center;
    height: 70%;
}
#img{
    height: 80%;
}
#btn{
    background-color: red;
    color: white;
}
#btn2{
    color: blue;
    border: none;
}
#btn2:hover{
    color: blue;
    border: none;
}
#srch{
    height: 70%;
        margin-top: 40px;

}
#btnn{
    margin-top: 40px;
}
#footer{
    background-color: blueviolet;
    text-align: center;
}
#foot{
    color: white;
}
#imgcard{
    max-height: 136px;
    max-width: 136px;
    margin-left: 30%;

}
#card{
    min-width: 370px;
    min-height: 235.16px;
    border-radius: 20px;
}
#tittle{
    margin-left: 30%;

}
#deals{
    margin-left: 20%;
    text-align: center;
    background-color: green;
    color: white;
    width: 200px;
    height: 50px;
    padding-top: 13px;
    border-radius: 20px;


}
#pagination{
    text-align: center;
}
#lastbtn{
    padding-right: 10px;
    border: none;
    background-color: white;
}
#all{
    color: black;
    font-size: xx-large;
}
P{
    cursor: pointer;
}